.container {
	margin:120px;
	margin-top:5px;
} 

input {
	height:20px;
}
select {
	height:20px;
	width:175px;
}

.header {
	
	text-align:center;
	height:80px;
	background-color:#eaeae1;
	color:black;
	padding-top:10px;
	
}

.subbtn {
	color:white;
	background-color:#ff3333;
	width:110px;
	height:36px;
	border-radius:5px 5px 5px 5px;
}

.table td{
	border:1px solid #eaeae1;
}

.content {

	text-align:center;
}

.carpaint {
	width:100%;
	text-align:center;
}
.carpaint table td {
	text-align:center;
} 

.option {
	background-color:#ff3333;
}

.option a {
	color:white;
	text-decoration:none;
	size:15px;
} 

.aParent div {
    float: left;
    clear: none; 
}

.ptable {
  border-collapse: collapse;
  width:70%;
  
}

.ptable th, td {
	text-align: left;
	padding: 3px;
	font-size:12px;
  }

.ptable tr:nth-child(even){background-color: #f2f2f2}

.ptable th {
  background-color:#adad85;
  color: white;
  font-size:13px;	
}

#wrapper {
width:100%;
margin : 0;
}

#first-div {
width:50%;
margin : 0;
float : left ;
}

#second-div {
width:50%;
margin : 0;
float : left ;
}
